html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 2px;
    text-align: center;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    /* 使用flex布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.restart {
    background-color: #ddd;
    color: red;
}

h1 {
    font-size: 1.8rem;
    color: white;
}

body {
    margin: 0;
}

.content {
    padding: 50px;
}

.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);

}

button {
    color: rgb(255, 255, 255);
    background-color: #518516;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


.button_small {
    background-color: #407603;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.onButton {
    background-color: #1b8a94;
}

.offButton {
    background-color: #5f6c6d;
}

.getNormalButton {
    background-color: #eb821a;
}

.connectButton {
    background-color: #24af37;
}

.disconnectButton {
    background-color: #d13a30;
}

.gray-label {
    color: #bebebe;
    font-size: 1rem;
}

.reading {
    font-size: 1.8rem;
}


p {
    font-size: 18px;
    padding-top: 0px;
}

.p_left {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
}

input {
    font-size: 18px;
}

input[type=number] {
    width: 100px;
}

button {
    font-size: 18px;
}

select {
    font-size: 18px;
}

.red-label {
    color: rgb(234, 77, 33);
    font-size: 14px;
}

.black-bg {
    text-align: left;
    background-color: rgb(18, 17, 17);
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#progressBar {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }